/* NavBar.module.css */

/* Общие стили для навигационного бара */
.navbar {
    width: 100%; /* Занимает всю ширину */
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; /* Убедитесь, что padding не слишком большой */
    background: linear-gradient(90deg, #3f7d90, #1a5d70);
    color: white;
    position: relative; /* Убедитесь, что navbar имеет относительное позиционирование */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Стили для ссылок */
.links {
    display: flex;
    gap: 1.5rem;
}

.links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.links a:hover {
    color: #ccc;
}

/* Стили для кнопки-гамбургера (toggle) */
.toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .links {
        display: none; /* Скрываем ссылки по умолчанию */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Положение выпадающего меню */
        right: 0;
        background-color: #5d828a; /* Фон выпадающего меню */
        width: 100%;
        padding: 1rem 0;
        z-index: 1000; /* Убедитесь, что меню сверху */
    }

    .links.open {
        display: flex; /* Показываем ссылки, когда меню открыто */
    }

    .toggle {
        display: flex; /* Показываем кнопку-гамбургер */
    }
}
